from blog import Post
^L
posts = Post.all()
^L
<head>
    <title>Greetings, program!</title>
    <script src="/jquery-1.6.2.min.js"></script>
    <script>
        $(document).ready(function() {
            $('button').click(function () {
                var now = new Date();
                var month = '0' + (now.getMonth() + 1);
                month = month.replace('00', '0');
                var base = '/' + now.getFullYear() + '/' + month + '/';
                var slug = prompt(base + '_______.html\n\nFill in the blank.');
                if (slug)
                    window.location.href = base + slug + '.html';
            });
        });
    </script>
    <style>
        @import url("toy-blog.css");
    </style>
</head>
<body>
    <h1>Greetings, program!</h1>
    {% if len(posts) == 0 %}

    <p>This is a a toy blog demo of the <a href="http://aspen.io/">Aspen web
        framework</a>. There are no posts yet. Click "New Post" to make
    one.</p>

    {% else %}
    <ul>
        {% for post in posts %}
        <li><a href="{{ post.get_url() }}">{{ post['title'] }}</a></li>
        {% end %}
    </ul>
    {% end %}
    <button>New Post</button>
</body>
